<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/elon"
        android:label="@string/sikumon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name=".SearchFileDisplayActivity"
            android:exported="false"
            android:parentActivityName=".SearchActivity"/>
        <activity
            android:name=".MyFilesActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity"/>
        <activity
            android:name=".MyStudyGroups"
            android:exported="false"
            android:parentActivityName=".PortalActivity"/>
        <activity
            android:name=".PortalSearchActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity"/>
        <activity
            android:name=".SearchGroupsActivity"
            android:exported="false"
            android:parentActivityName=".PortalSearchActivity"/>
        <activity
            android:name=".ViewStudyGroupsActivity"
            android:exported="false"
            android:parentActivityName=".SearchGroupsActivity"/>
        <activity
            android:name=".ForgetPassActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity_view"
            android:exported="false"
            android:parentActivityName=".PortalActivity" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity" />
        <activity
            android:name=".UploadActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity" />
        <activity
            android:name=".PortalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StudyActivity"
            android:exported="false"
            android:parentActivityName=".PortalActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>